* {
  margin: 0;
  padding: 0;
}

:root {
  --color1: #999;
  --color2: #CCC;
  --color3: blue;
  --color4: #3e8e41;
  --color5: #666;
}

html {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
body {
  perspective: 800px;
}

.launchpad {
  margin: 0 auto;
  background: var(--color2);
  width: 200px;
  padding: 30px 0;
  box-shadow: 0px 6px 2px -1px var(--color1);
  transform: rotateX(36deg);
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 140px;
}

key {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: var(--color3);
  box-shadow: 0 5px var(--color1);
  border: none;
  border-radius: 10px;
  transition: all .1s;
}

.active-key {
  background-color: var(--color4);
  box-shadow: 0 3px var(--color5);
  transform: translateY(3px);
}

key:nth-child(3),
key:nth-child(4) {
  margin-top: 17px;
}

.instructions {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  margin: 30px auto 0;
  width: 330px;
  line-height: 30px;
  text-align: center;
}
